{% extends 'base.html.twig' %}

{% block body %}
<section id="portfolio">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12" align="center" style="margin: 30px">
                <h3> Connexion </h3>
                    <form action="{{ path('security_login') }}" method="post">
                        <div class="form-group">
                            <label>
                                <input placeholder="Email" required name="_username" type="text" class="form-control">
                            </label>
                        </div>
                        <div class="form-group">
                            <label>
                                <input placeholder="Password" required name="_password" type="password" class="form-control">
                            </label>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" >Login</button>
                            <a href="{{ path('security_registration')}}" class="btn btn-primary">
                                <i class="fas fa-shopping-cart mr-1"></i>
                                Registration
                            </a>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</section>


{% endblock body %}
