{% extends 'base.html.twig' %}

{% block body %}
    <section id="portfolio">
        <div class="container">
            <div class="col-md-12 col-sm-12" style="margin: 30px">
                <h3> Registration </h3>

                {{ form_start(form) }}
                {{ form_row(form.username, {'attr': {'placeholder': 'User name' }}) }}
                {{ form_row(form.email, {'attr': {'placeholder': 'E-mail' }}) }}
                {{ form_row(form.password)}}
                <button type="submit" class="btn btn-primary"> Register </button>
                {{ form_end(form) }}

            </div>
        </div>
    </section>
{% endblock body %}