{% extends 'base.html.twig' %}

{% block body %}
    <section id="portfolio">
        <div class="container">

            <div class="col-md-12 col-sm-12" style="margin: 30px">
                <h3> List of cloths</h3>

                <table class="table">
                    <thead>
                    <tr class="table-light">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for beer in beers %}
                        <tr>
                            <td>{{ beer.id }}</td>
                            <td>{{ beer.title }}</td>
                            <td>{{ beer.description }}</td>
                            <td>{{ beer.quantity}}</td>
                            <td>
                                <a href="{{ path('admin_beer_delete', {'id' : beer.id}) }}" class="btn btn-danger btn-sm">
                                    <i class = "fas fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <p>No articles</p>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="col-md-12 col-sm-12" style="margin: 30px">
                <h3> Add beer </h3>

                {{ form_start(formBeer) }}
                {{ form_row(formBeer.title, {'attr': {'placeholder': 'Name' }}) }}
                {{ form_row(formBeer.description, {'attr': {'placeholder': 'Description' }}) }}
                {{ form_row(formBeer.price, {'attr': {'placeholder': 'Price' }}) }}
                {{ form_row(formBeer.photo, {'attr': {'placeholder': 'Picture' }}) }}
                {{ form_row(formBeer.quantity, {'attr': {'placeholder': 'Quantity' }}) }}
                <button type="submit" class="btn btn-primary"> Register </button>
                {{ form_end(formBeer) }}

            </div>
        </div>
    </section>


{% endblock body %}