{% extends 'base.html.twig' %}



{% block body %}
    <section id="portfolio">
        <div class="container">

            <div class="col-md-12 col-sm-12" style="margin: 30px">
                <h3> List of beers</h3>

            <table class="table">
                <thead>
                <tr class="table-light">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for cloth in cloths %}
                    <tr>
                        <td>{{ cloth.id }}</td>
                        <td>{{ cloth.title }}</td>
                        <td>{{ cloth.description }}</td>
                        <td>{{ cloth.quantity}}</td>
                        <td>
                            <a href="{{ path('admin_cloth_delete', {'id' : cloth.id}) }}" class="btn btn-danger btn-sm">
                                <i class = "fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <p>No articles</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section id="portfolio">
        <div class="container">
            <div class="col-md-12 col-sm-12" style="margin: 30px">
                <h3> Add cloth </h3>

                {{ form_start(formCloth) }}
                {{ form_row(formCloth.title, {'attr': {'placeholder': 'Name' }}) }}
                {{ form_row(formCloth.description, {'attr': {'placeholder': 'Description' }}) }}
                {{ form_row(formCloth.price, {'attr': {'placeholder': 'Price' }}) }}
                {{ form_row(formCloth.photo, {'attr': {'placeholder': 'Picture' }}) }}
                {{ form_row(formCloth.quantity, {'attr': {'placeholder': 'Quantity' }}) }}

                <button type="submit" class="btn btn-primary"> Register </button>
                {{ form_end(formCloth) }}

            </div>
        </div>
    </section>
{% endblock body %}