{% extends 'base.html.twig' %}

{% block title %}Add Article{% endblock %}

{% block body %}
    <section id="portfolio">
        <div class="container">
            <div class="col-md-12 col-sm-12" style="margin: 30px">
                <div>
                    <h3 class="display-4" >ADD PRODUCT</h3>
                </div>
                <form action="" method="POST">
                    <div class="form-group">
                        <label class="col-form-label" for="name">Name</label>
                        <input type="text" class="form-control" placeholder="Name" id="name" name="name">
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3" name="description" placeholder="Description"></textarea>
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="price">Price</label>
                        <input type="text" class="form-control" placeholder="Price" id="price" name="price">
                    </div>

                    <div class="form-group">
                        <label class="col-form-label" for="photo">Picture</label>
                        <input type="text" class="form-control" placeholder="URL de la photo" id="photo" name="photo">
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio1" name="productChoice" class="custom-control-input" checked="">
                            <label class="custom-control-label" for="customRadio1">Cloth</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="customRadio2" name="productChoice" class="custom-control-input">
                            <label class="custom-control-label" for="customRadio2">Beer</label>
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
