{% extends 'base.html.twig' %}

{% block body %}
    <section id="portfolio">
        <div class="container">

            <div>
                <h2 class="display-4" style="margin: 30px">List of users:</h2>
            </div>

            <table class="table">
                <thead>
                <tr class="table-light">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for cloth in cloths %}
                    <tr>
                        <td>{{ cloth.id }}</td>
                        <td>{{ cloth.title }}</td>
                        <td>{{ cloth.description }}</td>
                        <td>{{ cloth.quantity}}</td>
                    </tr>
                {% else %}
                    <p>Aucun articles</p>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}

{% block title %}

{% endblock %}