{% extends 'base.html.twig' %}

{% block body %}
<section id="portfolio">
    <div class="container">

        <div>
            <h3 style="margin: 30px">List of users:</h3>
        </div>

        <table class="table">
            <thead>
            <tr class="table-light">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
            </tr>
            </thead>
            <tbody>
            {# On boucle sur les utilisateurs #}
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>
                        <a href="{{ path('admin_user_delete', {'id' : user.id}) }}" class="btn btn-danger btn-sm">
                            <i class = "fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <p>Aucun utilisateur inscrit</p>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}

{% block title %}

{% endblock %}

