
{% extends 'base.html.twig' %}

{% block title %}Beers
{% endblock %}

{% block body %}
    <section id="portfolio">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">

                    <div>
                        <h3 class="display-4" >Beers</h3>
                    </div>


                    <div class="row">

                        {% for beer in beers %}
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <h3 class="card-header">{{ beer.title }}</h3>
                                <div class="card-body">
                                </div>
                                <img style="height:200px; width: 100%; display: block;" src="{{ beer.photo }}" alt="Card image">
                                <div class="card-body">
                                    <p class="card-text">{{ beer.description }}</p>
                                </div>
                                <div class="card-body">
                                    <h5>Price :</h5>
                                    <h5>{{ beer.price }} €</h5>
                                </div>
                                <div class="card-footer text-muted">
                                    <a href="#" class="btn btn-primary float-right">
                                        <i class="fas fa-shopping-cart mr-1"></i>
                                        Add
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}