
{% extends 'base.html.twig' %}

{% block title %}Cloths
{% endblock %}

{% block body %}
    <section id="portfolio">
    <div class="container">
    <div class="row">

    <div class="col-md-12 col-sm-12" style="margin: 30px">

    <div>
        <h3 class="display-4" >Cloths</h3>
    </div>


    <div class="row">
        {% for cloth in cloths %}
        <div class="col-lg-4">
            <div class="card mb-3">
                <h3 class="card-header" >{{ cloth.title }}</h3>
                <div class="card-body">
                </div>
                <img style="height:300px; width: 100%; display: block;" src="{{ cloth.photo }}" alt="Card image">
                <div class="card-body">
                    <p class="card-text">{{ cloth.description }}</p>
                </div>
                <div class="card-body">
                    <h5>Price :</h5>
                    <h5>{{ cloth.price }} €</h5>
                </div>
                <div class="card-footer text-muted">
                    <a href="{{ path('cart_add', {'id': cloth.id}) }}" class="btn btn-primary float-right">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Add
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
            </div>
        </div>
      </div>
   </div>
</section>

{% endblock %}