{% extends 'base.html.twig' %}

{% block body %}

    <h3> Registration </h3>

    {{ form_start(form) }}
    {{ form_row(form.name, {'attr': {'placeholder': 'Name' }})}}
    {{ form_row(form.object, {'attr': {'placeholder': 'What is the object?' }})}}
    {{ form_row(form.message, {'attr': {'placeholder': 'What is your question?' }})}}
    <button type="submit" class="btn btn-primary"> Send </button>
    {{ form_end(form) }}

{% endblock body %}