
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}LICHEUR CLUB.{% endblock %}</title>
    <link rel="stylesheet"  href="https://bootswatch.com/4/lux/bootstrap.min.css">
    {% block stylesheets %}{% endblock %}

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Licheur Club</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('cloth_index') }}">Cloths</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('beer_index') }}">Beers</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('contact_index') }}">Contact</a>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_users') }}" style = "color : #E74C3C">Users</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_new_cloth') }}" style = "color : #E74C3C">Admin cloth</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin_new_beer') }}" style = "color : #E74C3C ">Admin beer</a>
                </li>
            {% endif %}

        </ul>

        {% if not app.user %}
        <form>
            <button class="btn btn-secondary my-2 my-sm-0" formaction="{{ path('security_login') }}" >Login</button>
        </form>
        {% else %}
        <form>
            <button class="btn btn-outline-secondary" formaction="{{ path('cart_index') }}" style="margin-right: 5px">Cart</button>
        </form>
        <form>
            <button class="btn btn-outline-secondary" formaction="{{ path('security_logout') }}" >Logout</button>
        </form>
        {% endif %}

    </div>
</nav>


{% block body %}


{% endblock %}
{% block javascripts %}{% endblock %}

<!-- Footer -->
<footer>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">

                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="https://www.instagram.com/licheurclub/">Instagram <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Facebook</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('contact_index') }}">Contact</a>
                        </li>
                    </ul>
                </div>
            </nav>
</footer>
<!-- Footer -->
</body>
</html>