
{% extends 'base.html.twig' %}

{% block title %}Cloths
{% endblock %}

{% block body %}
    <section id="portfolio">
        <div class="container">

                    <div>
                        <h5 class="display-4" style="margin: 30px">Your cart:</h5>
                    </div>

                    <div>
                        {% if items | length > 0 %}
                            <table class="table">

                                <thead>
                                    <tr class="table-light">
                                        <th>Product</th>
                                        <th>Quantité</th>
                                        <th>Prix</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%  for item in items %}

                                        <tr >
                                            <td>{{ item.cloth.title }}</td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.cloth.price }}</td>
                                            <td>{{ item.cloth.price * item.quantity }}</td>
                                            <td>
                                                <a href="{{ path('cart_remove', {'id' : item.cloth.id}) }}" class="btn btn-danger btn-sm">
                                                    <i class = "fas fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td colspan="3"  class="text-right">Total : </td>
                                        <td>{{ total }} </td>
                                        <td></td>
                                    </tr>
                                </tfoot>
                            </table>

                        {% else %}

                            <table class="table">

                                <thead>
                                <tr class="table-light">
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr >
                                        <td colspan="4"  class="text-center">You cart is empty </td>
                                        <td></td>
                                    </tr>
                                </tbody>

                                <tfoot>
                                <tr>
                                    <td colspan="3"  class="text-right">Total : </td>
                                    <td>{{ total }} </td>
                                    <td></td>
                                </tr>
                                </tfoot>
                            </table>
                        {% endif %}
                        <a href="{{ path('cart_save') }}" class="btn btn-primary float-right">
                    </div>
                </div>
    </section>

{% endblock %}